@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease;
}


/* Colors and styles (default) */

:root{
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --PaleGreen: hsl(96, 74%, 89%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(9, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

html{
  font-size: 90%;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.icon{
  font-size: var(--h2fontsize);
}